* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

header,
body {
    text-align: center;
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

.download {
    color: aquamarine;
    font-size: 16px;
    text-decoration:underline;
}

#copyright {
    text-align: right;
}

img {
    padding: 10px;
}

@media only screen and (max-width: 1215px) {
    #camp-photo{
        width: 100%
    }
}
